DiyOpenTx_Visualgdb/.visualgdb
DiyOpenTx_Visualgdb/.vs
DiyOpenTx_Visualgdb/Debug
Hardware/DiyOpenTx/__Previews
Hardware/DiyOpenTx/Default Configuration
Hardware/DiyOpenTx/History
Hardware/DiyOpenTx/Logs
Hardware/DiyOpenTx/Outputs
